
body {
	font-family: 'Rajdhani', sans serif;
	background-color: #d2d2d2;
}

div {
	display: flex;
}

div#main {
	flex-direction: column;
	margin: 0 auto;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	margin: 40px auto 0 auto;
}

div#buttonRow {
	width: 400px;
	margin: 20px auto;
}

button {
	border: 2px solid black;
	border-radius: 10px;
	height: 40px;
	width: 80px;
	font-size: 20px;
	font-family: 'Rajdhani', sans serif;
	margin: 0 auto;
}

button:hover {
	font-weight: bold;
	cursor: pointer;
}

button#reset:hover {
	background-color: red;
}

div.grid{
	outline: 0.5px solid rgb(0,0,0,0.25);
}

div#container {
	flex-wrap: wrap;
	border: 5px solid black;
	width: auto;
	max-width: 800px;
	margin: 0 auto;
	background-color: white;
}

button.bold {
	font-weight: bold;
}